xsd/src/main/resources/xsd/rev110801.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev110801" version="1.1" xmlns:smev="http://smev.gosuslugi.ru/rev110801" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Header" type="smev:HeaderType">
        <xs:annotation>
            <xs:documentation>Служебный загловок СМЭВ</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Message" type="smev:MessageType">
        <xs:annotation>
            <xs:documentation>Служебный блок атрибутов СМЭВ</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MessageData" type="smev:MessageDataType">
        <xs:annotation>
            <xs:documentation>Блок-обертка данных СМЭВ</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AppData" type="smev:AppDataType">
        <xs:annotation>
            <xs:documentation>Блок структурированных сведений</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AppDocument" type="smev:AppDocumentType">
        <xs:annotation>
            <xs:documentation>Блок вложений</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Sender" type="smev:orgExternalType">
        <xs:annotation>
            <xs:documentation>Данные о системе-ициаторе взаимодействия (Потребителе) (валидируется СМЭВ на соответствие сертификату)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Recipient" type="smev:orgExternalType">
        <xs:annotation>
            <xs:documentation>Данные о системе-получателе сообщения (Поставщике) (валидируется СМЭВ рестру поставщиков)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Originator" type="smev:orgExternalType">
        <xs:annotation>
            <xs:documentation>Данные о системе, инициировавашей цепочку из нескольких запросов-ответов, объединенных единым процессом в рамках взаимодействия</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TypeCode" type="xs:string">
        <xs:annotation>
            <xs:documentation>Тип сообщения</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Date" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Дата создания запроса</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="RequestIdRef" type="smev:idType">
        <xs:annotation>
            <xs:documentation>Идентификатор сообщения-запроса, инициировавшего взаимодействие</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OriginRequestIdRef" type="smev:idType">
        <xs:annotation>
            <xs:documentation>Идентификатор сообщения-запроса, инициировавшего цепочку из нескольких запросов-ответов, объединенных единым процессом в рамках взаимодействия</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ServiceCode" type="xs:string">
        <xs:annotation>
            <xs:documentation>Код услуги</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CaseNumber" type="xs:string">
        <xs:annotation>
            <xs:documentation>Номер заявки в информационной системе-отправителе</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MessageId" type="smev:idType">
        <xs:annotation>
            <xs:documentation>Идентификатор сообщения</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TimeStamp" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Метка времени получения запроса СМЭВом</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BinaryData" type="xs:string"/>
    <xs:element name="Reference" type="smev:ReferenceType"/>
    <xs:element name="DigestValue" type="xs:base64Binary"/>
    <xs:element name="MessageStatus" type="smev:MessageStatusType">
        <xs:annotation>
            <xs:documentation>Данные о статусе сообщения в СМЭВ</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element ref="smev:MessageId"/>
            <xs:element ref="smev:TimeStamp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element ref="smev:Sender"/>
            <xs:element ref="smev:Recipient"/>
            <xs:element minOccurs="0" ref="smev:Originator"/>
            <xs:element ref="smev:TypeCode"/>
            <xs:element ref="smev:Date"/>
            <xs:element minOccurs="0" ref="smev:RequestIdRef"/>
            <xs:element minOccurs="0" ref="smev:OriginRequestIdRef"/>
            <xs:element minOccurs="0" ref="smev:ServiceCode"/>
            <xs:element minOccurs="0" ref="smev:CaseNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageDataType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="smev:AppData"/>
            <xs:element minOccurs="0" ref="smev:AppDocument"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AppDataType">
        <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="AppDocumentType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="smev:BinaryData"/>
                <xs:sequence>
                    <xs:element ref="smev:Reference"/>
                    <xs:element ref="smev:DigestValue"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferenceType">
        <xs:sequence>
            <xs:any minOccurs="0" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="orgExternalType">
        <xs:annotation>
            <xs:documentation>Сведения об информационной системе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор системы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование системы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="idType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="MessageStatusType">
        <xs:annotation>
            <xs:documentation>Сведения о статусе сообщения в СМЭВ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор статуса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Описание статуса</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>